<section class="call-for-papers" id="call-for-papers">
    <!-- <div class="overlay" style="background-color: rgba(239,209,255,0.3);"></div> -->
  <div class="content-wrapper">
    <div class="col-lg-10 col-lg-offset-1">
      <!-- <h3 id="how-to-reach-title">Call for Papers</h3> -->
      <p
        class="animated hiding"
        data-animation="fadeInUp"
        data-delay="0"
      >
        The International conference on Big Data, Machine learning & Their
        Applications (ICBMA-2020) is the premier forum for the presentation of
        new advances and research results in the fields of Big Data, Machine
        learning & Their Applications. The conference will bring together
        leading researchers, engineers and scientists in the domain of interest
        from around the world. All submitted original papers will be peer
        reviewed before final acceptance.
      </p>
      <p
        class="animated hiding"
        data-animation="fadeInUp"
        data-delay="0"
      >
        Topics of interest for submission include:
      </p>
      <div class="row">
        <div class="col-md-6 col xs-12 animated hiding" data-animation="fadeInUp" data-delay="0">
          <h5>Track I: Big Data</h5>
          <p
            class="post-body animated hiding"
            data-animation="fadeInUp"
            data-delay="0"
          >
            <ol>
                <li><p>Algorithms and Programming Techniques for Big Data Processing</p></li>
                <li><p>Architecture and Security Issues in Big data</p></li>
                <li><p>Cloud computing implementation of big data</p></li>
                <li><p>Optimization and Analytics issues in big data</p></li>
            </ol>
          </p>
        </div>
        <div class="col-md-6 col xs-12 animated hiding" data-animation="fadeInUp" data-delay="0">
            <h5>Track-II: Machine Learning</h5>
            <p
              class="post-body animated hiding"
              data-animation="fadeInUp"
              data-delay="0"
            >
              <ol>
                  <li><p>Machine learning applications and Methods in clustering & classification</p></li>
                  <li><p>Deep learning Algorithms and its applications</p></li>
                  <li><p>Support Vector Machine & its application</p></li>
                  <li><p>Convolution neural Network & its application</p></li>
                  <li><p>Bayesian Model, HMM and its applications</p></li>
                  <li><p>Variants of All existing Models</p></li>
              </ol>
            </p>
        </div>
        <div class="col-md-6 col xs-12 animated hiding" data-animation="fadeInUp" data-delay="0">
            <h5>Track III: Bio Inspired Algorithms</h5>
            <p
              class="post-body animated hiding"
              data-animation="fadeInUp"
              data-delay="0"
            >
              <ol>
                  <li><p>Genetic Algorithms & its application</p></li>
                  <li><p>Multi objective optimization & its application</p></li>
                  <li><p>Computational intelligence & its application</p></li>
                  <li><p>Evolutionary Algorithms & its application</p></li>
                  <li><p>Combinatorial Optimization & its application</p></li>
                  <li><p>Swarm Intelligence Algorithm & its application</p></li>
              </ol>
            </p>
        </div>
        <div class="col-md-6 col xs-12 animated hiding" data-animation="fadeInUp" data-delay="0">
            <h5>Track IV: Artificial Intelligence</h5>
            <p
              class="post-body animated hiding"
              data-animation="fadeInUp"
              data-delay="0"
            >
              <ol>
                  <li><p>Robotics & Automation</p></li>
                  <li><p>Natural Language Processing</p></li>
                  <li><p>Neural Network and Fuzzy logic</p></li>
                  <li><p>Decision Support Systems</p></li>
                  <li><p>Intelligent Image Processing Algorithms</p></li>
                  <li><p>Computer Vision</p></li>
                  <li><p>Pattern Recognition</p></li>
              </ol>
            </p>
        </div>
        <div class="col-md-6 col xs-12 animated hiding" data-animation="fadeInUp" data-delay="0">
            <h5>Track V: Applications of Big Data, Machine Learning & Bio Inspired Algorithms in</h5>
            <p
              class="post-body animated hiding"
              data-animation="fadeInUp"
              data-delay="0"
            >
              <ol>
                  <li><p>Precision Agriculture</p></li>
                  <li><p>Smart city</p></li>
                  <li><p>Fog Computing</p></li>
                  <li><p>Cloud Computing</p></li>
                  <li><p>Systems biology</p></li>
                  <li><p>IoT</p></li>
                  <li><p>Medical and Health informatics</p></li>
                  <li><p>Any other applications of Big Data, Machine Learning and AI.</p></li>
              </ol>
            </p>
        </div>
      </div>
      <p>
        <strong>For any further enquiry please contact:</strong><br>
        
        Dr. Nitin Singh /Dr. Krishn Kumar Mishra<br>
        nitins@mnnit.ac.in /kkm@mnnit.ac.in<br>
        Ph: 9935161234 /9129164846<br>
        Department of Electrical Engineering /Department of Computer Science & Engineering MNNIT Allahabad</p>
    </div>
  </div>
</section>
