<!-- Begin Footer -->
<footer id="footer" class="footer">
	<div class="row justify-content-center">
		<div class="col-md-6">
			<p style="text-align: center;font-size: 17px;">
				<b>For any further enquiry please contact:<br></b>
				Dr. Niraj Kumar Choudhary /Dr. Navjot Singh<br>
				icbma2021@gmail.com<br>
				Ph: 9455691568 /9650506400<br>
				Department of Electrical Engineering /Department of Computer Science & Engineering <br> MNNIT Allahabad</p>
		</div>
	</div>
	
</footer>
<!-- End Footer -->
