<section class="how-to-reach" id="how-to-reach">
  <div class="content-wrapper">
    <div class="col-lg-10 col-lg-offset-1">
      <h3 id="how-to-reach-title">How To Reach</h3>
      <p
        class="animated fadeInUp visible"
        data-animation="fadeInUp"
        data-delay="0"
      >
        Allahabad city is situated in the north part of India in the Oudh region
        of state of Uttar Pradesh. It is well connected with flights, rail and
        road transport to other parts of India. Daily trains, buses and flights
        are available from major cities in India.
      </p>
      <div class="row">
        <div class="col-md-4 col xs-12">
            <h5>Allahabad By Air</h5>
            <p
              class="post-body animated fadeInUp visible"
              data-animation="fadeInUp"
              data-delay="0"
            >
              Allahabad has its own domestic airport named Bamrauli airport which is
              15 km away from the heart of the city. Airport is connected to metros
              like Delhi, Kolkata and Lucknow. Airport to city taxi charge is about
              Rs 400. Abroad travelers need to get connection flights from Delhi or
              Kolkata.
            </p>
          </div>
        <div class="col-md-4 col xs-12">
          <h5>Allahabad By Bus</h5>
          <p
            class="post-body animated fadeInUp visible"
            data-animation="fadeInUp"
            data-delay="0"
          >
            Very good road services are available in Allahabad. UPSRTC buses
            give service to most of the cities in Uttar Pradesh. From Allahabad
            bus services are available to Delhi (650 km) and Kolkata (800 km).
          </p>
        </div>
        <div class="col-md-4 col xs-12">
          <h5>Allahabad By Train</h5>
          <p
            class="post-body animated fadeInUp visible"
            data-animation="fadeInUp"
            data-delay="0"
          >
            Allahabad has a major railway station in the heart of the city and
            is well connected to all the important cities in India.
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
            <img
              src="{{ site.baseurl }}/img/how-to-reach/alld_map.jpg"
              alt="alld_map"
              style="margin: auto"
            />
          </div>
      </div>

      
      <h4>About the city</h4>
      <ul>
        <li><p style="text-align: left;">The city is a primary center for culture, religion and education. The
            confluence of Ganga, Yamuna and mythical Saraswati rivers defines this
            city. Many national and regional headquarters of administration,
            military and research facilities are located in the city.</p>
        </li>
        <li>
          <p style="text-align: left;">Allahabad is also famous for producing 7 out of 14 Prime Ministers of
            India - Jawahar Lal Nehru, Lal Bahadur Shastri, Indira Gandhi, Rajiv
            Gandhi, Gulzari Lal Nanda, Vishwanath Pratap Singh and Chandrashekhar,
            they all were either born in Allahabad, were alumni of Allahabad
            University or were elected from a constituency in Allahabad.</p>
        </li>
        <li>
          <p style="text-align: left;">Climate: (Sept) Moderately Hot. Temperature varies from 15 to 390C.</p>
        </li>
        <li><p style="text-align: left;">Languages spoken: Hindi, Urdu, English</p></li>
        <li>
          <p style="text-align: left;">Tourist attractions: Sangam(confluence of rivers), All Saints
            Cathedral, Alfred Park, Khusro Bagh, Yamuna Bridge, Public Library
            (estd 1864), Allahabad University (estd 1887), etc.</p>
        </li>
      </ul>
    </div>
  </div>
</section>
