

<header id="top-header" class="top-header">
    <div class="overlay white-solid"></div>
    <svg id="menu-trigger" class="menu-trigger icon icon-menu visible-xs" viewBox="0 0 32 32">
        <use xlink:href="{{ site.baseurl }}/img/sprites/sprites.svg#icon-menu"></use>
    </svg>
    <a href="{{ site.baseurl }}/" id="logo-header" class="logo-header">
        <div class="logo" style="background-image: url('{{ site.baseurl }}/img/sprites/{{site.navigationLogoImg}}');background-size: contain;margin-right: 0;"></div>
    </a>
    <nav class="st-menu st-effect" id="menu">
        <div class="logo-navbar logo logo-dark visible-xs" style="background-image: url('{{ site.baseurl }}/img/sprites/{{site.navigationLogoImg}}');background-size: contain;"></div>
        <ul>
            {% assign navigationLink = site.navigationLinks[0] %}
            <li>
                <a class="{% if navigationLink.permalink != null and page.permalink == navigationLink.permalink %}current{% endif %}"  href="{% if navigationLink.permalink != null %} {{ navigationLink.permalink | prepend: site.baseurl }} {% else %} {{ navigationLink.link }} {% endif %}" {% if navigationLink.link != null %}target="_blank"{% endif %}>{{ navigationLink.text}}</a>
            </li>
            {% assign navigationLink = site.navigationLinks[1] %}
            <li class="dropdown">
                <a class="dropdown-toggle {% if navigationLink.permalink != null and page.permalink == navigationLink.permalink %}current{% endif %}" href="#" data-toggle="dropdown">{{ navigationLink.text}}</a>
                <div id="myDropdownCalls" class="dropdown-menu">
                    <a href="{{ site.baseurl }}/advisory-board/" class="dropdown-item">Advisory Board</a>
                    <a href="{{ site.baseurl }}/organising/" class="dropdown-item">Organising Committee</a>
                    <a href="{{ site.baseurl }}/program/" class="dropdown-item">Program Committee</a>
                </div>
            </li>
            {% assign navigationLink = site.navigationLinks[2] %}
            <!-- calls -->
            <li class="dropdown">
                <a class="dropdown-toggle {% if navigationLink.permalink != null and page.permalink == navigationLink.permalink %}current{% endif %}" href="#" data-toggle="dropdown">{{ navigationLink.text}}</a>
                <div id="myDropdownCalls" class="dropdown-menu">
                    <a href="{{ site.baseurl }}/call-for-papers/" class="dropdown-item">Call for Papers</a>
                    <a href="{{ site.baseurl }}/submission-instructions/" class="dropdown-item">Submission Instructions</a>
                </div>
            </li>
            {% assign navigationLink = site.navigationLinks[3] %}
            <li>
                <a class="{% if navigationLink.permalink != null and page.permalink == navigationLink.permalink %}current{% endif %}"  href="{% if navigationLink.permalink != null %} {{ navigationLink.permalink | prepend: site.baseurl }} {% else %} {{ navigationLink.link }} {% endif %}" {% if navigationLink.link != null %}target="_blank"{% endif %}>{{ navigationLink.text}}</a>
            </li>
            {% assign navigationLink = site.navigationLinks[4] %}
            <li class="dropdown">
                <a class="dropdown-toggle {% if navigationLink.permalink != null and page.permalink == navigationLink.permalink %}current{% endif %}" href="#" data-toggle="dropdown">{{ navigationLink.text}}</a>
                <div id="myDropdownCalls" class="dropdown-menu">
                    <a href="{{ site.baseurl }}/keynotes/" class="dropdown-item">Keynotes & Tutorials</a>
                    <a href="{{ site.baseurl }}/schedule/" class="dropdown-item">Schedule</a>
                </div>
            </li>
            {% assign navigationLink = site.navigationLinks[5] %}
            <li>
                <a class="{% if navigationLink.permalink != null and page.permalink == navigationLink.permalink %}current{% endif %}"  href="{% if navigationLink.permalink != null %} {{ navigationLink.permalink | prepend: site.baseurl }} {% else %} {{ navigationLink.link }} {% endif %}" {% if navigationLink.link != null %}target="_blank"{% endif %}>{{ navigationLink.text}}</a>
            </li>
            {% assign navigationLink = site.navigationLinks[6] %}
            <li class="dropdown">
                <a class="dropdown-toggle {% if navigationLink.permalink != null and page.permalink == navigationLink.permalink %}current{% endif %}" href="#" data-toggle="dropdown">{{ navigationLink.text}}</a>
                <div id="myDropdownCalls" class="dropdown-menu">
                    <a href="http://www.mnnit.ac.in/icbma2020/index.html" class="dropdown-item" target="_blank">ICBMA 2020</a>
                </div>
            </li>
        </ul>
        <ul id="bottom-navlinks" class="bottom-navlinks visible-xs">
            {% for bottomNavigationLink in site.bottomNavigationLinks %}
            <li>
                <a href="{% if bottomNavigationLink.permalink != null %} {{ bottomNavigationLink.permalink | prepend: site.baseurl }} {% else %} {{ bottomNavigationLink.link }} {% endif %}" {% if bottomNavigationLink.link != null %}target="_blank"{% endif %}>{{ bottomNavigationLink.text }}</a>
            </li>
            {% endfor %}
        </ul>
        {% for rightNavigationButton in site.rightNavigationButtons %}
        <a href="{% if rightNavigationButton.permalink != null %} {{ rightNavigationButton.permalink | prepend: site.baseurl }} {% else %} {{ rightNavigationButton.link }} {% endif %}" class="right-nav-button right-nav-button-hidden btn btn-primary waves-effect waves-button waves-light waves-float pull-right hidden-xs hidden-sm" {% if rightNavigationButton.link != null %}target="_blank"{% endif %}>
            {{ rightNavigationButton.text }}
        </a>
        {% endfor %}
    </nav>
</header>