<section id="advisory-board" class="advisory-board">
	<div class="content-wrapper">
		<div class="col-lg-10 col-lg-offset-1 advisory-board-list">
			<h3>Patron</h3>
			<div class="row justify-content-center">
				<div
					class="col-md-3 col-xs-6 advisory-board-item animated hiding"
					data-animation="fadeInDown"
					data-delay="0"
				>
					<div class="member">
						<div
							class="flow-img img-circle member-img"
							style="background-image: url(/img/people/organising/1.jpg)"
						></div>
						<div class="name">Prof. Rajeev Tripathi</div>
						<div class="sub" style="margin-bottom: 0px">Director</div>
						<div class="sub">MNNIT Allahabad</div>
					</div>
				</div>
			</div>

			<h3>General Chair</h3>
			<div class="row justify-content-center">
				<div
					class="col-md-3 col-xs-6 advisory-board-item animated hiding"
					data-animation="fadeInDown"
					data-delay="0"
				>
					<div class="member">
						<div
							class="flow-img img-circle member-img"
							style="background-image: url(/img/people/organising/2.jpg)"
						></div>
						<div class="name">Prof. R.K. Singh</div>
						<div class="sub" style="margin-bottom: 0px">Electrical Engineering Department</div>
						<div class="sub">MNNIT Allahabad</div>
					</div>
				</div>
			</div>
			<h3>Conference Chair(s) Coordinator(s)</h3>
			<div class="row justify-content-center">
				<div
					class="col-md-3 col-xs-6 advisory-board-item animated hiding"
					data-animation="fadeInDown"
					data-delay="0"
				>
					<div class="member">
						<div
							class="flow-img img-circle member-img"
							style="background-image: url(/img/people/organising/3.jpg)"
						></div>
						<div class="name">Dr. Nitin Singh</div>
						<div class="sub">Electrical Engineering Department</div>
					</div>
				</div>
				<div
					class="col-md-3 col-xs-6 advisory-board-item animated hiding"
					data-animation="fadeInDown"
					data-delay="0"
				>
					<div class="member">
						<div
							class="flow-img img-circle member-img"
							style="background-image: url(/img/people/organising/4.jpg)"
						></div>
						<div class="name">Dr. K.K. Mishra</div>
						<div class="sub">Computer Science and Engineering Department</div>
					</div>
				</div>
			</div>
			<h3>Technical Program Chair(s)</h3>
			<div class="row justify-content-center">
				<div
					class="col-md-3 col-xs-6 advisory-board-item animated hiding"
					data-animation="fadeInDown"
					data-delay="0"
				>
					<div class="member">
						<div
							class="flow-img img-circle member-img"
							style="background-image: url(/img/people/organising/5.jpg)"
						></div>
						<div class="name">Prof. V.S. Tripathi</div>
						<div class="sub">Electronics and Communications Department</div>
					</div>
				</div>
				<div
					class="col-md-3 col-xs-6 advisory-board-item animated hiding"
					data-animation="fadeInDown"
					data-delay="0"
				>
					<div class="member">
						<div
							class="flow-img img-circle member-img"
							style="background-image: url(/img/people/organising/6.jpg)"
						></div>
						<div class="name">Dr. Navneet Kumar Singh</div>
						<div class="sub">Electrical Engineering Department</div>
					</div>
				</div>
      </div>
      
      <h3>Publication Chair(s)</h3>
      <div class="row justify-content-center">
				<div
					class="col-md-3 col-xs-6 advisory-board-item animated hiding"
					data-animation="fadeInDown"
					data-delay="0"
				>
					<div class="member">
						<div
							class="flow-img img-circle member-img"
							style="background-image: url(/img/people/organising/7.jpg)"
						></div>
						<div class="name">Prof. R.M. Singh</div>
						<div class="sub">Civil Engineering Department</div>
					</div>
				</div>
				<div
					class="col-md-3 col-xs-6 advisory-board-item animated hiding"
					data-animation="fadeInDown"
					data-delay="0"
				>
					<div class="member">
						<div
							class="flow-img img-circle member-img"
							style="background-image: url(/img/people/organising/8.jpg)"
						></div>
						<div class="name">Dr. Pitam Singh</div>
						<div class="sub">Mathematics</div>
					</div>
				</div>
      </div>


      <h3>Publicity Chair(s)</h3>
      <div class="row justify-content-center">
				<div
					class="col-md-3 col-xs-6 advisory-board-item animated hiding"
					data-animation="fadeInDown"
					data-delay="0"
				>
					<div class="member">
						<div
							class="flow-img img-circle member-img"
							style="background-image: url(/img/people/organising/9.jpg)"
						></div>
						<div class="name">Prof. Anil Kumar Singh</div>
						<div class="sub">Computer Science and Engineering Department</div>
					</div>
				</div>
				<div
					class="col-md-3 col-xs-6 advisory-board-item animated hiding"
					data-animation="fadeInDown"
					data-delay="0"
				>
					<div class="member">
						<div
							class="flow-img img-circle member-img"
							style="background-image: url(/img/people/organising/10.jpg)"
						></div>
						<div class="name">Dr. Ashish Maurya</div>
						<div class="sub">Computer Science and Engineering Department</div>
					</div>
				</div>
      </div>


      <h3>Finance Chair(s)/ Treasurer</h3>
      <div class="row justify-content-center">
				<div
					class="col-md-3 col-xs-6 advisory-board-item animated hiding"
					data-animation="fadeInDown"
					data-delay="0"
				>
					<div class="member">
						<div
							class="flow-img img-circle member-img"
							style="background-image: url(/img/people/organising/11.jpg)"
						></div>
						<div class="name">Dr. Nekram rawat</div>
						<div class="sub">Civil Engineering Department</div>
					</div>
				</div>
      </div>


      <h3>Special Sessions/ Tutorial Chair(s)</h3>
      <div class="row justify-content-center">
				<div
					class="col-md-3 col-xs-6 advisory-board-item animated hiding"
					data-animation="fadeInDown"
					data-delay="0"
				>
					<div class="member">
						<div
							class="flow-img img-circle member-img"
							style="background-image: url(/img/people/organising/12.jpg)"
						></div>
						<div class="name">Prof. Ajay Kumar Singh</div>
						<div class="sub">Civil Engineering Department</div>
					</div>
				</div>
				<div
					class="col-md-3 col-xs-6 advisory-board-item animated hiding"
					data-animation="fadeInDown"
					data-delay="0"
				>
					<div class="member">
						<div
							class="flow-img img-circle member-img"
							style="background-image: url(/img/people/organising/13.jpg)"
						></div>
						<div class="name">Dr. Rupesh Dewang</div>
						<div class="sub">Computer Science and Engineering Department</div>
					</div>
				</div>
      </div>

      <h3>Workshop Chair(s)</h3>
      <div class="row justify-content-center">
				<div
					class="col-md-3 col-xs-6 advisory-board-item animated hiding"
					data-animation="fadeInDown"
					data-delay="0"
				>
					<div class="member">
						<div
							class="flow-img img-circle member-img"
							style="background-image: url(/img/people/organising/14.jpg)"
						></div>
						<div class="name">Dr. Manish Tiwari</div>
						<div class="sub">Electronics and Communications Department</div>
					</div>
				</div>
				<div
					class="col-md-3 col-xs-6 advisory-board-item animated hiding"
					data-animation="fadeInDown"
					data-delay="0"
				>
					<div class="member">
						<div
							class="flow-img img-circle member-img"
							style="background-image: url(/img/people/organising/15.jpg)"
						></div>
						<div class="name">Dr. Ranvijay Singh</div>
						<div class="sub">Computer Science and Engineering Department</div>
					</div>
				</div>
      </div>

      <h3>Hospitality Chair(s)</h3>
      <div class="row justify-content-center">
				<div
					class="col-md-3 col-xs-6 advisory-board-item animated hiding"
					data-animation="fadeInDown"
					data-delay="0"
				>
					<div class="member">
						<div
							class="flow-img img-circle member-img"
							style="background-image: url(/img/people/organising/16.jpg)"
						></div>
						<div class="name">Dr. Anoj Kumar</div>
						<div class="sub">Computer Science and Engineering Department</div>
					</div>
				</div>
				<div
					class="col-md-3 col-xs-6 advisory-board-item animated hiding"
					data-animation="fadeInDown"
					data-delay="0"
				>
					<div class="member">
						<div
							class="flow-img img-circle member-img"
							style="background-image: url(/img/people/organising/17.jpg)"
						></div>
						<div class="name">Dr. Rajitha B</div>
						<div class="sub">Computer Science and Engineering Department</div>
					</div>
				</div>
      </div>


      <h3>Web Management Chair(s)</h3>
      <div class="row justify-content-center">
				<div
					class="col-md-3 col-xs-6 advisory-board-item animated hiding"
					data-animation="fadeInDown"
					data-delay="0"
				>
					<div class="member">
						<div
							class="flow-img img-circle member-img"
							style="background-image: url(/img/people/organising/18.jpg)"
						></div>
						<div class="name">Dr. Dinesh Singh</div>
						<div class="sub">Computer Science and Engineering Department</div>
					</div>
				</div>
				<div
					class="col-md-3 col-xs-6 advisory-board-item animated hiding"
					data-animation="fadeInDown"
					data-delay="0"
				>
					<div class="member">
						<div
							class="flow-img img-circle member-img"
							style="background-image: url(/img/people/organising/19.jpg)"
						></div>
						<div class="name">Dr. M.V. Naik</div>
						<div class="sub">Electrical Engineering Department</div>
					</div>
				</div>
      </div>


      <h3>Organising Secretary</h3>
      <div class="row justify-content-center">
				<div
					class="col-md-3 col-xs-6 advisory-board-item animated hiding"
					data-animation="fadeInDown"
					data-delay="0"
				>
					<div class="member">
						<div
							class="flow-img img-circle member-img"
							style="background-image: url(/img/people/organising/20.jpg)"
						></div>
						<div class="name">Dr. Niraj Kumar Choudhary</div>
						<div class="sub">Electrical Engineering Department</div>
					</div>
				</div>
				<div
					class="col-md-3 col-xs-6 advisory-board-item animated hiding"
					data-animation="fadeInDown"
					data-delay="0"
				>
					<div class="member">
						<div
							class="flow-img img-circle member-img"
							style="background-image: url(/img/people/organising/21.jpg)"
						></div>
						<div class="name">Dr. Navjot Singh</div>
						<div class="sub">Computer Science and Engineering Department</div>
					</div>
				</div>
      </div>
			<div class="clearfix"></div>
			<!-- <span class="bordered">
				<a href="{{ site.baseurl }}/speakers/" class="bottom-section-link waves-effect waves-button waves-light">{{ site.rockstarSpeakersButtonText }}</a>
			</span> -->
		</div>
	</div>
</section>
