<section
  id="advisory-board"
  class="advisory-board image-section parallax"
  style="background-image: url({{ site.baseurl }}/img/sections-background/{{ site.organisingCommitteeImage }});"
>
  <div class="overlay solid-overlay"></div>
  <div class="content-wrapper">
    <div class="col-lg-10 col-lg-offset-1 advisory-board-list">
      <h3 id="advisory-board-title">{{ site.organisingCommitteeTitle }}</h3>
      {% for member in site.organisingCommitteeMembers %}
      <div
        class="col-md-3 col-xs-6 advisory-board-item animated hiding"
        data-animation="fadeInDown"
        data-delay="0"
      >
        <div class="member">
          <div
            class="flow-img img-circle member-img"
            style="background-image: url(/img/people/{{ member.image}})"
          ></div>
          <div class="name">{{ member.name }}</div>
          <div class="sub" style="margin-bottom: 0px;">{{ member.pos }}</div>
          <div class="sub">{{ member.sub }}</div>
        </div>
      </div>
      {% endfor %}

      <div class="clearfix"></div>
      <!-- <span class="bordered">
				<a href="{{ site.baseurl }}/speakers/" class="bottom-section-link waves-effect waves-button waves-light">{{ site.rockstarSpeakersButtonText }}</a>
			</span> -->
    </div>
  </div>
</section>
