<style>
    li {
        font-size: 20px;
    }
</style>
<section>
    <div class="content-wrapper">
        <div class="col-lg-10 col-lg-offset-1">
            <ul>
                <li> Prof. Sanjiv K. Bhatia, University of Missouri, St. Louis, USA </li>
                <li> Dr. Peter Mueller, IBM Switzerland, Zurich </li>
                <li> Prof. Yong Wang, Central South University, China </li>
                <li> Prof. Dimiter Velev, University of National and World Economy, Europe </li>
                <li> Prof. Lakshman Tamil, University of Texas at Dallas, USA </li>
                <li> Prof. Manoj Kumar Tiwari ,IIT Kharagpur, India </li>
                <li> Prof. K K Shukla, Indian Institute of Technology (BHU) VARANASI, India </li>
                <li> Prof. Prabhas Bharadwaj, IIT BHU, Varanasi, India. </li>
                <li> Prof. S. K. Mishra, IIT BHU, Varanasi, India </li>
                <li> Prof. Zuhal Tanrıkulu, Bogazici University, Istanbul, Turkey </li>
                <li> Prof. Viranjay M. Srivastava, University of KwaZulu-Natal, South Africa </li>
                <li> Prof. Carmelo Bastos-Filho, University of Pernambuco, Brazil </li>
                <li> Prof. Flavio Soares Correa da Silva, University of Sao Paulo, Brazil </li>
                <li> Prof. Pavel Osipov&nbsp;Riga Technical University, Latvija, Riga </li>
                <li> Prof. Luca Pancioni,Università degli Studi di Siena, Italy </li>
                <li> Prof. Christos Bouras, Univ. of Patras and RACTI, Greece </li>
                <li> Prof. Germano Lambert Torres, PS Solutions, Brazil </li>
                <li> Prof. Byoungho Kim, Broadcom Corp., USA </li>
                <li> Prof. Enrique Chirivella-Perez, University of the West of Scotland, United Kingdom </li>
                <li> Prof. Pablo Salva Garcia, University of the West of Scotland, United Kingdom </li>
                <li> Prof. Ricardo Marco Alaez, University of the West of Scotland, United Kingdom </li>
                <li> Prof. AlexandrosIosifidis, Tampere University of Technology, Finland </li>
                <li> Prof. Somasundaram Karuppanagounder, Gandhigram Rural Institute, Gandhigram, India </li>
                <li> Prof. Jaydip Sen, NSHM College, India </li>
                <li> Prof. Gang Wang, Hefei University of Technology, China </li>
                <li> Prof. Willjuice Iruthayarajan M, National Engineering College, Tamilnadu, India </li>
                <li> Dr. Motahar Reza, Professor, NIST, Orissa, India </li>
                <li> Dr. G Sahoo, BIT Mesra, India </li>
                <li> Dr. Manu Pratap Singh, Dr. B. R. Ambedkar University, Agra, India </li>
                <li> Dr. D. S. Yadav, AKTU, Lucknow, India </li>
                <li> Dr. Jagannath V Aghav, College of Engineering Pune, India </li>
                <li> Prof. Lalit Awasthi, NIT Hamirpur, India </li>
                <li> Dr. Rajeev Srivastava, CSE, ITBHU, India </li>
                <li> Dr. Rajesh Kumar, MNIT, Jaipur, India </li>
                <li> Dr. Rajesh Bodade, Military College of Telecommunication, Mhow, India</li>
                <li> Dr. Valentina E. Balas, AurelVlaicu University of Arad, Romania </li>
                <li> Dr. Vishal Bhatnagar, Ambedkar Institute of Technology, New Delhi, India</li>
                <li> Dr. Manu Vardhan, NIT Raipur, India </li>
                <li> Dr. SarsijTripathi, MNNIT Allahabad, India </li>
                <li> Dr. Neetesh Kumar, IIT Roorkee, India</li>
                <li>Dr. M. Tanveer, IIT Indore, India</li>
                <li>Dr. Krishan Kumar, NIT Uttarakhand, India</li>
            </ul>
        </div>
    </div>
</section>