<section class="sponsor" id="sponsor">
  <!-- <div class="overlay solid-overlay"></div> -->
  <div class="content-wrapper">
    <div class="col-lg-10 col-lg-offset-1">
      <h3 id="sponsor-title">Sponsor</h3>
      <div
        class="col-md-6 col-xs-12 animated hiding"
        data-animation="fadeInUp"
        data-delay="0"
      >
        <!-- <div
          class="col-md-3 col-xs-6"
          style="background-image: url({{ site.baseurl }}/img/sponsor/15178.jpg);"
        ></div>
        <div
          class="col-md-3 col-xs-6"
          style="background-image: url({{ site.baseurl }}/img/sponsor/springer.png);"
        ></div> -->
        <img src="{{ site.baseurl }}/img/sponsor/15179.jpg" alt="">
        <img src="{{ site.baseurl }}/img/sponsor/springer.png" alt="">
      </div>
      <div
        class="col-md-6 col-xs-12 "
      >
        <p class="post-body animated hiding" data-animation="fadeInUp" data-delay="0">
          <b>For any queries, mail ICBMA-2020 Team at:- icbma2020@gmail.com</b>
          Accepted, presented and registered papers will be published in the
          series "Lecture Notes in Networks and Systems" ** Indexing: The books
          of this series are submitted to ISI Proceedings, SCOPUS, Google
          Scholar and Springerlink ** All registered Conference participants of
          ICBMA-2020 will be given Publication Token that is temporary free
          access to the online version of the conference proceedings on
          SpringerLink. Access is granted for four weeks, starting from the day
          it is published.
        </p>
      </div>
    </div>
  </div>
</section>
