<section>
    <div class="content-wrapper">
        <div class="col-lg-10 col-lg-offset-1">
            <h3>INSTRUCTION FOR AUTHORS:-:</h3>
            <h4>Plagiarism Statement</h4>
            <p>The program committee of ICBMA and Springer takes plagiarism seriously. If an author has copied from another author or has used parts of another author's work (text, tables, figures, etc.), without his or her permission and a reference, then the paper on SpringerLink will be given a "retracted" stamp, and an erratum explaining the reasons for the retraction will be included. In addition, the volume editors and the author's academic supervisors will be informed that plagiarism has been committed. Please note that a retracted paper remains visible, with its "retracted" stamp. It does not simply disappear.</p>
            <p>
                <ol>
                    <li>Original papers based on theoretical or experimental works related to the above mentioned sub themes are solicited for presentation in the conference.</li>
                    <li>All authors of accepted papers must submit the plagiarism declaration at the time of final submission of their paper.</li>
                    <li>The paper should begin with title, short abstract and a list of keywords. Simultaneous and Multiple submissions (papers already submitted to other conferences/journals) are not allowed.</li>
                    <li>All authors must follow Springer's proceedings formatting instructions.</li>
                    <li>Please do not submit plagiarized papers.</li>
                    <li>The total length of the paper will not be exceeded by Ten A4 size pages including bibliography and appendices. However papers exceeding the limit of 10 pages will also be considered as special case. Paper must be in PDF and DOC format. Papers in Latex format are also acceptable.</li>
                </ol>
            </p>
            <h4>IMPORTANT NOTE:</h4>
            <p>Your paper will be excluded from proceedings at any level of quality checks carried out by Springer. Conference organizers are not responsible if your paper detects plagiarism or any lack in quality reported by Springer after submission of final proceedings (camera ready copies) to Springer. Conference organizers are responsible for the technical quality of paper on the basis of reviews obtained. It is sole responsibility of author/s if their paper detects plagiarism even in later stages of quality check. No registration fee will be refunded in any case if your paper is excluded from proceedings by the Springer</p>
        </div>
    </div>
</section>